src/.idea/workspace.xml
lib/OrientDB/log/orient-server.log.0
lib/OrientDB/log/orient-server.log.0.lck
src/out/artifacts/NuzzGraph_jar/NuzzGraph.jar
*NuzzGraph.jar
lib/OrientDB/databases/nuzzgraph-test/txlog.otx
lib/OrientDB/databases/*
src/out/*
src/out1/*
